<div class="header" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
    <a href="#header" class="logo" *ngIf="modeService.darkMode"><img src="../../assets/img/Logo.png"></a>
    <a href="#header" class="logo" *ngIf="!modeService.darkMode"><img src="../../assets/img/Logo-black.png"></a>
    <div>
        <a routerLink="/" >Home</a>
        <a href="#projects" *ngIf="languageService.english">Projects</a>
        <a href="#projects" *ngIf="!languageService.english">Projekte</a>
        <a href="#skills" *ngIf="languageService.english">Skills</a>
        <a href="#skills" *ngIf="!languageService.english">Fähigkeiten</a>
        <a href="#about" *ngIf="languageService.english">About Me</a>
        <a href="#about" *ngIf="!languageService.english">Über Mich</a>
        <a href="#work" *ngIf="languageService.english">Work</a>
        <a href="#work" *ngIf="!languageService.english">Jobs</a>
        <a href="#contact" *ngIf="languageService.english">Contact Me</a>
        <a href="#contact" *ngIf="!languageService.english">Kontakt</a>
        <div class="link" (click)='changeLanguage()' *ngIf="languageService.english">EN</div>
        <div class="link" (click)='changeLanguage()' *ngIf="!languageService.english">DE</div>
        <div class="link" (click)='changeMode()' *ngIf="modeService.darkMode"><img src="../../assets/img/icons/sun-white.png"></div>
        <div class="link" (click)='changeMode()' *ngIf="!modeService.darkMode"><img src="../../assets/img/icons/moon-black.png"></div>
    </div>
</div>