<div class="header" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
    <a href="#header" class="logo" *ngIf="modeService.darkMode"><img src="./assets/img/Logo.png"></a>
    <a href="#header" class="logo" *ngIf="!modeService.darkMode"><img src="./assets/img/Logo-black.png"></a>
    <img *ngIf="modeService.darkMode" (click)='open()' src="./assets/img/icons/menu-white.png">
    <img *ngIf="!modeService.darkMode" (click)='open()' src="./assets/img/icons/menu-black.png">
</div>

<div [class.d-none]="!mobile" [class.show]="mobile" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
    <img (click)='close()' class="close" *ngIf="modeService.darkMode" src="./assets/img/icons/close-window-white.png">
    <img (click)='close()' class="close" *ngIf="!modeService.darkMode" src="./assets/img/icons/close-window-black.png">
    <a routerLink="/" (click)='close()'>Home</a>
    <a href="#projects" (click)='close()' *ngIf="languageService.english">Projects</a>
    <a href="#projects" (click)='close()' *ngIf="!languageService.english">Projekte</a>
    <a href="#skills" (click)='close()' *ngIf="languageService.english">Skills</a>
    <a href="#skills" (click)='close()' *ngIf="!languageService.english">Fähigkeiten</a>
    <a href="#about" (click)='close()' *ngIf="languageService.english">About Me</a>
    <a href="#about" (click)='close()' *ngIf="!languageService.english">Über Mich</a>
    <a href="#work" (click)='close()' *ngIf="languageService.english">Work</a>
    <a href="#work" (click)='close()' *ngIf="!languageService.english">Jobs</a>
    <a href="#contact" (click)='close()' *ngIf="languageService.english">Contact Me</a>
    <a href="#contact" (click)='close()' *ngIf="!languageService.english">Kontakt</a>
    <div class="container">
        <div class="link" (click)='changeLanguage(); close()' *ngIf="languageService.english">EN</div>
        <div class="link" (click)='changeLanguage(); close()' *ngIf="!languageService.english">DE</div>
        <div class="link" (click)='changeMode(); close()' *ngIf="modeService.darkMode"><img src="./assets/img/icons/sun-white.png"></div>
        <div class="link" (click)='changeMode(); close()' *ngIf="!modeService.darkMode"><img src="./assets/img/icons/moon-black.png"></div>
    </div>
</div>