.header {
    display: flex;
    height: 100vh;
    img {
        width: 50%;
        height: 70%;
        margin-top: 125px;
        object-fit: cover;
    }
    .intro {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 65%;
        padding-top: 230px;
        padding-left: 80px;
        padding-right: 60px;
        font-size: 18px;
        font-weight: 400;
        h1 {
            font-size: 45px;
        }
    }
    @media(max-width: 835px) {
        .intro {
            top: 20%;
            height: 80%;
            padding-top: 20px;
        }
    }
}

.dark {
    background-color: #1818235e;
    color: var(--white);
}

.light {
    background-color: rgba(167, 167, 167, 0.4);
    color: var(--black);
}