<div id="header" class="header">
    <img src="./assets/img/2.jpg">
    <div class="intro" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
        <h1 *ngIf="languageService.english">
            Hello!<br>I´m Moritz Abrudan.<br> A Front end Developer based in Munich.
        </h1>
        <span *ngIf="languageService.english">All my late carrier paths had one thing in common - programming websides. My long Jorney looking for the job I want to work in the future has come to an end. I am a front end developer.</span>
        <h1 *ngIf="!languageService.english">
            Hallo!<br>Ich bin Moritz Abrudan.<br>Ein Front-End Entwickler aus München.
        </h1>
        <span *ngIf="!languageService.english">All meine früheren Karrierewege hatten eins gemeinsam - das Programmieren. Nach langer Suche nach einer Job fürs Leben, ist meine Suche zu Ende. Ich bin Front-End Entwickler.</span>
    </div>
</div>