:root {
    --black: black;
    --white: white;
    --bg-light: rgba(0, 0, 0, 0.10);
}

body {
    font-family: 'Sen', sans-serif;
    background-color: var(--black);
    margin: 0;
    width: 100%;
    max-width: 1920px;
    color: var(--white);
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

.section {
    margin: 70px;
}

.text-big {
    font-size: 35px;
    font-weight: 700;
}