:root {
    --black: black;
    --white: white;
    --bg-light: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Sen', sans-serif;
    margin: 0;
    width: 100%;
    max-width: 1920px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

.section {
    margin: 70px;
}

.text-big {
    font-size: 35px;
    font-weight: 700;
}

.dark {
    background-color: var(--black);
    color: var(--white);
}

.ligt {
    background-color: var(--bg-light);
    color: var(--black);
}

@media(max-width: 740px) {
    .text-big {
        font-size: 25px;
    }
}