<div id="skills" class="section" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
    <h2 *ngIf="languageService.english">MY SKILLS</h2>
    <div class="text-big" *ngIf="languageService.english">What I have learned in the past.</div>
    <h2 *ngIf="!languageService.english">MEINE FÄHIGKEITEN</h2>
    <div class="text-big" *ngIf="!languageService.english">Was ich bereits gelernt habe.</div>
    <table>
        <tr>
            <td>
                <img class="image" src="../../assets/img/icons/javascript.png">
                <div class="table-box">
                    JavaScript
                </div>
            </td>
            <td>
                <img class="image" src="../../assets/img/icons/angular.png">
                <div class="table-box">
                    Angular
                </div>
            </td>
            <td>
                <img class="image" src="../../assets/img/icons/HTML5.png">
                <div class="table-box">
                    HTML
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img class="image" src="../../assets/img/icons/css3.png">
                <div class="table-box">
                    CSS
                </div>
            </td>
            <td>
                <img class="image" src="../../assets/img/icons/git.png">
                <div class="table-box">
                    Git
                </div>
            </td>
            <td>
                <img class="image" src="../../assets/img/icons/scrum.png">
                <div class="table-box">
                    Scrum
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img class="image" src="../../assets/img/icons/rest-api.png">
                <div class="table-box">
                    Rest API
                </div>
            </td>
            <td>
                <img class="image" src="../../assets/img/icons/database.png">
                <div class="table-box">
                    Databases
                </div>
            </td>
            <td>
                <img class="image" src="../../assets/img/icons/firebase.png">
                <div class="table-box">
                    Firebase
                </div>
            </td>
        </tr>
    </table>
</div>