<div id="work" class="section">
    <h2>WORK EXPERIANCE</h2>
    <div class="text-big">Companies I have worked for in the past.</div>
    <table>
        <tr>
            <td class="bigNr">01</td>
            <td class="bigNr">02</td>
            <td class="bigNr">03</td>
        </tr>
        <tr>
            <td><span class="green">Able Catering</span>, Event Manager Logistics and Events</td>
            <td><span class="blue">BKP</span>, Project Lead Event Organization</td>
            <td><span class="red">ROWE MARKETING</span>, Junior Event Manager and Apprenticeship</td>
        </tr>
        <tr>
            <td>I worked in the planning, organization and construction of foodstand, event and parties at trade fairs.</td>
            <td>Planning and budgeting driving events for a premium car manufacturer from Germany in Sweden, Austria and Germany.</td>
            <td>I worked here as an apprentice and after that I had a temporary position. Here my tasks were in the planning and excecution of fairs and concerts.</td>
        </tr>
    </table>
</div>