table {
    margin-top: 60px;
    width: 100%;
    .bigNr {
        font-size: 90px;
        color: #8491a0;
    }
    td {
        width: 33%;
        padding-right: 20px;
        margin-top: 16px;
    }
}

.green {
    color: #3cc74e;
}

.blue {
    color: #609bff;
}

.red {
    color: #e95d90;
}