table {
    margin-top: 60px;
    width: 100%;
    td {
        width: 33%;
        padding-right: 20px;
        padding-top: 16px;
        vertical-align: top;
    }
}

.bigNr {
    font-size: 90px;
}

.green {
    color: #3cc74e;
}

.blue {
    color: #609bff;
}

.red {
    color: #e95d90;
}

.margin {
    margin-bottom: 24px;
}

.jobTitle {
    margin-bottom: 8px;
    font-weight: 700;
}

.dark {
    .bigNr {
        color: #8491a0;
    }
}

.light {
    .bigNr {
        color: #3a4047;
    }
}