.container {
    max-width: 100%;
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    color: var(--black);
    div:last-child {
        padding-top: 20px;
    }
}

.right {
    width: 50%;
    img {
        width: 100%;
    }
}

.dark {
    background-color: var(--white);
}

.light {
    background-color: rgba(167, 167, 167, 0.25);
}

@media(max-width: 800px) {
    .container {
        display: unset;
    }
    .left {
        width: unset;
    }
    .right {
        width: unset;
    }
}

@media(max-width: 400px) {
    .left {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}