<div id="about" class="container">
    <div class="left" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
        <div class="text-big">
            About me
        </div>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus laboriosam doloribus et illum pariatur est assumenda aut officiis sint saepe necessitatibus quis itaque ab iusto fuga adipisci dignissimos, ut officia.
        </div>
    </div>
    <div class="right">
        <img src="../../assets/img/16.jpg">
    </div>
</div>