<div id="about" class="container">
    <div class="left" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
        <div class="text-big" *ngIf="languageService.english">
            About me
        </div>
        <div *ngIf="languageService.english">
            All the years I was not looking for a job. I was looking for a real profession where I can make a lasting difference in the future. Now I am at the end of my search and are happy to call me front end developer. With this scillset I want to help building
            a better tomorrow and bring technology a small step further.
        </div>
        <div class="text-big" *ngIf="!languageService.english">
            Über mich
        </div>
        <div *ngIf="!languageService.english">
            Die letzten Jahre war ich nicht auf der Suche nach eine JOb. Ich war auf der Suche nach einem Beruf. Einem richtigen Beruf, der einen andauernden Unterschied in der Zukunft machen kann. Jetzt am Ende der Suche, bin ich glücklich mich Front-End Entwickler
            nennen zu können. Mit meinen Erfahrungen möchte ich meinen Teil dazu beitragen, damit morgen besser wird und vielleicht schaffe ich es die Technologie einen kleinen Schritt weiter nach vorne zu bringen.
        </div>
    </div>
    <div class="right">
        <img src="./assets/img/1.jpg">
    </div>