.container {
    max-width: 100%;
    display: flex;
}

.left {
    width: 50%;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    div:last-child {
        padding-top: 20px;
    }
}

.right {
    width: 50%;
    img {
        width: 100%;
    }
}