<div class="container">
    <div class="text-container">
        <div class="text-big">
            Get in touch with me!
        </div>
        <div>
            Now that you know a lot about me, let me know if your are interessted to work with me.
        </div>
    </div>
    <div class="form-container">
        <form action="">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <label for="email">E-Mail</label>
            <input type="email" name="E-Mail" id="email" required>
            <label for="message">Message</label>
            <textarea name="Message" id="message" cols="30" rows="10" required></textarea>
            <button>GET IN TOUCH</button>
        </form>
    </div>
</div>