<div id="projects" class="container">
    <h2>
        My PROJECTS
    </h2>
    <div class="text-big">
        Work that I have done in the past
    </div>
    <div class="overview">
        <div class="row">
            <div class="field">
                <div>
                    <div class="text-big">
                        El Pollo Loco
                    </div>
                    <img src="../../assets/img/16.jpg">
                </div>
            </div>
            <div class="field">
                <div>
                    <div class="text-big">
                        Kanban Board
                    </div>
                    <img src="../../assets/img/16.jpg">
                </div>
            </div>
        </div>
        <div class="field">
            <img src="../../assets/img/16.jpg">
        </div>
        <div class="row">
            <div class="field">
                <div class="text-big">
                    Sharky
                </div>
                <img src="../../assets/img/16.jpg">
            </div>
            <div class="field">
                <div class="text-big">
                    Business App
                </div>
                <img src="../../assets/img/16.jpg" alt="">
            </div>
        </div>
    </div>
</div>