.container {
    background-color: var(--white);
    color: var(--black);
    padding: 70px;
}

.overview {
    margin-top: 30px;
    .row {
        display: flex;
        justify-content: space-around;
        &:first-child {
            margin-bottom: 60px;
        }
    }
}

.field {
    width: 45%;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .only-show-on-hover {
        visibility: hidden;
    }
    &:hover .only-show-on-hover {
        visibility: visible;
    }
}

.project {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px;
    .headline {
        font-size: 24px;
    }
    .description {
        font-size: 18px;
        margin-top: 12px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border: 1px solid #5221e6;
        text-decoration: none;
        color: #5221e6;
        width: 40%;
        height: 40px;
        &:hover {
            background-color: #5221e6;
            color: var(--white);
        }
    }
}

@media(max-width: 850px) {
    .project {
        padding: unset;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media(max-width:740px) {
    .row {
        flex-direction: column;
        align-items: center;
        &:first-child {
            margin-bottom: unset !important;
        }
    }
    .field {
        width: unset;
        margin-bottom: 32px;
    }
}

@media(max-width: 400px) {
    .container {
        padding: unset;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}