<div class="footer" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
    <div class="footer-left">
        <a href="#header" class="logo" *ngIf="modeService.darkMode"><img src="./assets/img/Logo.png"></a>
        <a href="#header" class="logo" *ngIf="!modeService.darkMode"><img src="./assets/img/Logo-black.png"></a>
        <div class="link">
            <a href="https://www.linkedin.com/in/moritz-abrudan/">
                <img src="./assets/img/icons/LI-In-Bug.png">
            </a>
            <a href="https://www.xing.com/profile/Moritz_Abrudan">
                <img src="./assets/img/icons/xing.png">
            </a>
            <a href="https://github.com/MoritzAbrudan">
                <img src="./assets/img/icons/GitHub-Mark-Light-32px.png">
            </a>
        </div>
        <div class="legal" *ngIf="languageService.english">
            <a routerLink="/imprint">Imprint</a>
            <a routerLink="/data-protection">Data Protection</a>
        </div>
        <div class="legal" *ngIf="!languageService.english">
            <a routerLink="/imprint">Imressum</a>
            <a routerLink="/data-protection">Datenschutz</a>
        </div>
    </div>
    <div class="sitemap" *ngIf="languageService.english">
        <a href="#header">Home</a>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#about">About Me</a>
        <a href="#work">Work</a>
        <a href="#contact">Contact Me</a>
    </div>
    <div class="sitemap" *ngIf="!languageService.english">
        <a href="#header">Home</a>
        <a href="#projects">Projekte</a>
        <a href="#skills">Fähigkeiten</a>
        <a href="#about">Über Mich</a>
        <a href="#work">Arbeit</a>
        <a href="#contact">Kontakt</a>
    </div>
</div>