<div class="footer" [class.dark]="modeService.darkMode" [class.light]="!modeService.darkMode">
    <div class="footer-left">
        <a href="#header" class="logo" *ngIf="modeService.darkMode"><img src="../../assets/img/Logo.png"></a>
        <a href="#header" class="logo" *ngIf="!modeService.darkMode"><img src="../../assets/img/Logo-black.png"></a>
        <div class="link">
            <a href="">
                <img src="../../assets/img/icons/LI-In-Bug.png">
            </a>
            <a href="">
                <img src="../../assets/img/icons/xing.png">
            </a>
            <a href="">
                <img src="../../assets/img/icons/GitHub-Mark-Light-32px.png">
            </a>
        </div>
        <div class="legal">
            <a routerLink="/imprint">Imprint</a>
            <a routerLink="/data-protection">Data Protection</a>
        </div>
    </div>
    <div class="sitemap">
        <a href="#header">Home</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#">About Me</a>
        <a href="#">Work</a>
        <a href="#contact">Contact Me</a>
    </div>
</div>