<div class="section container">
    <h1>Impressum</h1>

    <h2>Angaben gemäß &sect; 5 TMG</h2>
    <p>
        Moritz Abrudan<br /> Hamburger Straße 43<br /> 80809 München
    </p>

    <h2>Kontakt</h2>
    <p>
        Telefon: 0049-(0)1713106976<br /> E-Mail: m.abrudan@t-online.de
    </p>

    <p>
        Quelle: <a href="https://www.e-recht24.de">eRecht24</a>
    </p>

    <p>
        Created my free logo at <a href="https://logomakr.com/">LogoMakr.com</a>
    </p>
    <p>
        Icons: <a href="https://icons8.com">https://icons8.com</a>
    </p>
</div>